.home {
	grid-template-columns: 4.32fr 7.68fr;
	align-items: center;
	padding: 40px;
	height: 100vh;
}

.home-img {
	width: 50vw;
	height: auto;
	object-fit: cover;
	border-radius: 30px;
	box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
}

.home-content {
	max-width: 650px;
	margin-inline: auto;
	padding-top: 20px;
}

.home-title {
	position: relative;
	font-size: var(--h1-half-font-size);
	line-height: 1.24;
	/* padding-left: 70px; */
}

.home-title span {
	color: var(--first-color);
}

/* .home-title::before {
	content: "";
	position: absolute;
	left: 0;
	top: 22%;
	width: 40px;
	height: 5px;
	border-radius: 10px;
	background-color: var(--first-color);
} */

.home-description {
	line-height: 2.125;
	margin-block: 16px 32px;
}

.color-block {
	position: fixed;
	height: 200%;
	width: 100%;
	background-color: var(--first-color);
	top: -50%;
	left: -83%;
	transform: rotate(-15deg);
	z-index: -1;
	transition: all 0.5s ease;
}
