@media screen and (max-width: 1400px) {
	.container {
		max-width: calc(100% - 180px);
	}
}

@media screen and (max-width: 1200px) {
	.grid {
		gap: 20px;
	}

	.home-data {
		padding-right: 40px;
	}

	.home-title {
		font-size: var(--big-font-size);
	}

	.home-description {
		font-size: var(--small-font-size);
	}

	.stats-title {
		padding-left: 35px;
	}

	.stats-title::before {
		width: 22px;
	}

	.skills-container {
		row-gap: 32px;
	}

	.progress-circle {
		width: 100px;
		height: 100px;
	}

	.skills-title {
		margin-top: 20px;
	}

	.resume-icon {
		width: 36px;
		height: 36px;
		line-height: 38px;
	}

	.resume-item {
		padding-left: 55px;
	}

	.portfolio-modal-content {
		max-width: 600px;
	}

	.modal-close {
		width: 40px;
		height: 40px;
	}

	.form-input-group {
		grid-template-columns: 1fr;
		column-gap: 24px;
	}

	.form-input-group .form-input-div:last-child {
		grid-column: 1 / -1;
	}

	.form-input-div {
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		max-width: 720px;
	}

	.home {
		padding: 20px;
		grid-template-columns: 5fr 7fr;
	}

	.home-data {
		padding-right: 0;
	}

	.section {
		padding-block: 50px;
	}

	.section-title {
		margin-bottom: 40px;
	}

	.about-container,
	.resume-container,
	.contact-container {
		grid-template-columns: 1fr;
	}

	.about-container {
		row-gap: 40px;
	}

	.subtitle-center {
		margin-bottom: 45px;
	}

	.skills-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.resume-container {
		row-gap: 45px;
	}

	.resume-item:not(:last-child) {
		margin-bottom: 45px;
	}

	.seperator {
		margin: 65px auto 50px;
	}

	.portfolio-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.contact-container {
		row-gap: 50px;
	}

	.contact-links-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.home {
		grid-template-columns: 1fr;
		justify-items: center;
		row-gap: 10px;
	}

	.color-block {
		left: 85%;
		transition: all 0.5s ease;
	}

	.home-img {
		width: 70vw;
		height: auto;
		margin-top: 15px;
	}

	.home-content {
		max-width: 500px;
		text-align: center;
		margin-bottom: auto;
	}

	.home-title {
		padding-left: 0;
	}

	.home-title::before {
		all: unset;
	}

	.home-title span {
		display: block;
	}

	.container {
		max-width: 540px;
	}

	.portfolio-modal-content {
		padding: 25px 20px;
	}

	.modal-close {
		top: -9%;
		right: 0;
	}
}

@media screen and (max-width: 576px) {
	.nav-toggle {
		top: 20px;
		right: 15px;
	}

	.nav-link {
		column-gap: 20px;
	}

	.nav-icon,
	.nav-name {
		font-size: var(--h3-font-size);
	}

	.skills-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.portfolio-container {
		grid-template-columns: 1fr;
	}

	.modal-list {
		grid-template-columns: 1fr;
	}

	.modal-img {
		height: 300px;
	}

	.theme-img {
		width: 25px;
	}

	.style-switcher-toggler,
	.theme-toggler {
		width: 40px;
		height: 40px;
	}

	.style-switcher-toggler {
		top: 15%;
	}

	.theme-toggler {
		bottom: 15%;
	}

	.style-switcher-close {
		top: 5%;
	}

	.contact-links-container {
		grid-template-columns: 1fr;
	}

	.socials-container {
		grid-template-columns: 1fr;
	}

	.profile-link-box img {
		width: 40px;
		height: auto;
	}

	.social-link-logo svg {
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 450px) {
	.home-title {
		font-size: var(--h1-half-font-size);
	}

	.home-description {
		text-align: justify;
	}

	.info-title {
		display: block;
		margin-bottom: 4px;
	}

	.stats-box {
		padding: 15px 15px 25px 20px;
	}
}

@media screen and (max-width: 350px) {
	.home-title span {
		display: inline;
	}

	.stats {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.stats-box {
		width: 90%;
	}
}
